@{
  ViewData["Title"] = "Home Page";
  string podName = Environment.GetEnvironmentVariable("POD_NAME");
  string podIp = Environment.GetEnvironmentVariable("POD_IP");
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  <p>@DateTime.UtcNow.ToLongTimeString()</p>

  @if (!string.IsNullOrWhiteSpace(podName))
  {
    <p>Pod Name: @podName</p>
  }

  @if (!string.IsNullOrWhiteSpace(podIp))
  {
    <p>Pod IP: @podIp</p>
  }

  <p>SQL Server: @String.Join(',', ViewBag.SqlTableNames)</p>
</div>
